.weather-app {
  text-align: center;
  color: rgb(219, 94, 94);
}

.search-container input {
  padding: 10px;
  font-size: 1.2em;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
  text-align: center;
  color: #a23434;
}

.weather-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #f86464;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  text-align: center;
}
body{
background-color:aquamarine;
}