/* src/index.css */

/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.6;
  background-color: #f0f2f5;
  font-size: 16px;
  color: #333;
}

/* Set up basic layout and font for the entire app */
#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
